<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body class="container">
    <div class="jumbotron">
      <h1>Ding Dong</h1>

      <form action="/" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" placeholder="Who is this? Enter your name" class="form-control" id="name" name="name"/>
        </div>
        <button type="submit" class="btn btn-default">Ring Bell</button>
      </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
